<meta name="viewport" content="maximum-scale=1">
<link rel="stylesheet" href="/styles.css">
<div id="formBackground" style="touch-action: '';"></div>
<form id="newPlayerForm" class="popupForm primaryStyle primaryBorder" action="register" method="post" style="text-align: center; ">
        <div class="playerName" style="font-size: 350%; margin-top: 1vh; margin-bottom: 1vh;">
            Create Profile
        </div>
        <br>
        <div class="textCenter" style="height: 15vh;"><img src="GLOSLogo.png" alt="GLOS Logo" id="mainLogo"></div>
        <br>
        <% if (messages.error) { %>
            <%= messages.error %>
            <%#= console.log(messages);  %>
        <% } else if (messages.message) { %>
            <%= messages.message %>
        <% } %>
        <br>
        <input type="text" name="firstName" value="" placeholder="First Name" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br>
        <input type="text" name="lastName" value="" placeholder="Last Name" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br>
        <!-- <label for="dob" style="margin-bottom: .75vh; font-size: 250%;">Date of Birth:  </label>
        <input type="date" name="dob" value="" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br> -->
        <!-- <label for="gender" style="margin-bottom: .75vh; font-size: 250%;">Gender: </label> -->
        <!-- <div style="all: unset; margin-bottom: .75vh; font-size: 250%;" >
            Male<input type="radio" name="gender" value="male" required> 
            Female<input type="radio" name="gender" value="female">
        </div>
        <br>
        <input type="tel" name="phone" value="" placeholder="Phone Number" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br> -->
        <input type="text" name="email" value="" placeholder="Email" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br>
        <input type="password" name="password" value="" placeholder="Password" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br>
        <!-- <input type="password" name="password2" value="" placeholder="Re-Enter Password" style="margin-bottom: 1.25vh; font-size: 250%;" required>
        <br> -->
        <button type="submit" style="margin-bottom: 1.5vh; font-size: 250%;">Create</button>
        <br>
        <a href="/forgotPassword" class="" style="margin-bottom: 1.25vh; font-size: 250%;">Forgot Password</a>
        <br>
        <a href="/login" style="margin-bottom: 1.5vh; font-size: 250%; display: block;">Login Page</a>
</form>