<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/GLOSLogo.png">
    <title>Page Does Not Exist</title>
    
</head>
<body style="text-align: center;">
    <header><img src="/GLOSLogo.png" alt="GLOS Logo" id="mainLogo"></header>
    <br>
    <h2>Sorry, the page you are looking for does not exist.</h2>
    <br>
    <footer>
        <p>&copy; 2024 GLOS</p>
    </footer>
    <script src="/main.js"></script>
</body>
</html>
