<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <form id="eventForm" class="eventForm" action="eventLog" method="post" style="display: none;">
        <input type="hidden" name="playerId" value="">
        <input type="hidden" name="teamName" value="">
        <input type="hidden" name="realTime" value="">
        <input type="hidden" name="periodTime" value="">
        <input type="hidden" name="period" value="">
        <input type="hidden" name="value" value="">
        <input type="hidden" name="Event_ID" value="">
        <div class="playerTag itemFormat">
            <div class="playerName">
            </div>
        </div>
        <div class="statButton">
            <button class="itemFormat" name="type" value="goal" onclick="statHandler(this.value, this.form)" >Goal</button>                    
        </div>
        <div class="statButton">
            <button class="itemFormat" name="type" value="assist" onclick="statHandler(this.value, this.form)">Assist</button>
        </div>
        <div class="statButton">
            <button class="itemFormat" name="type" value="save" onclick="statHandler(this.value, this.form)">Save</button>
        </div>
        <div class="statButton">
            <button class="itemFormat" name="type" value="owngoal" onclick="statHandler(this.value, this.form)">Own Goal</button>
        </div>
        <br>
        <div class="statButton">
            <button class="itemFormat" name="type" value="yellowCard" onclick="statHandler(this.value, this.form)" >Yellow Card</button>                    
        </div>
        <br>
        <div class="statButton">
            <button class="itemFormat" name="type" value="redCard" onclick="statHandler(this.value, this.form)" >Red Card</button>                    
        </div>
        <div class="statButton">
            <button class="itemFormat" name="type" value="keeperChange" onclick="statHandler(this.value, this.form)" >Make Keeper</button>                    
        </div>
        <div class="statButton">
            <button class="itemFormat" name="type" value="tradeTeam" onclick="statHandler(this.value, this.form)" >Switch Team</button>                    
        </div>
    </form>
</body>
</html>