<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <form id="eventForm" class="popupForm" action="javascript:void(0);" style="display: none; touch-action: none;">
        <input type="hidden" name="playerId" value="">
        <input type="hidden" name="teamName" value="">
        <input type="hidden" name="realTime" value="">
        <input type="hidden" name="periodTime" value="">
        <input type="hidden" name="period" value="">
        <input type="hidden" name="value" value="">
        <input type="hidden" name="Event_ID" value="">
        <input type="hidden" name="keeper" value="">
        <input type="hidden" name="opponentKeeper" value="">
        <input type="hidden" name="season" value="">
        <input type="hidden" name="subseason" value="">
        <input type="hidden" name="type" value="">
        <div class="primaryStyle primaryBorder" style="text-align: center;">
            <div class="playerName" style="font-size: 175%;">
            </div>
        </div>
        <% var options = ['Goal','Assist','Save','Own Goal','Yellow Card','Red Card'] %>
        <% for(var i=0; i< options.length; i++) {%>
            <div class="statButton">
                <button class="floatingActionButtons floatAbove hidden itemFormat primaryStyle primaryBorder" name="type" value="<%= options[i].toLowerCase().replace(' ','') %>" onclick="statHandler(this, currentPeriod )">+1</button>
                <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="<%= options[i].toLowerCase().replace(' ','') %>" onclick="if(!isLong){statHandler(this, currentPeriod)}" onmousedown="handleMouseDown(this,event)" onmouseup="handleMouseUp(event)" ontouchstart="handleMouseDown(this,event)" ontouchend="handleMouseUp(event)"><%= options[i] %></button>                    
                <button class="floatingActionButtons floatBelow hidden itemFormat primaryStyle primaryBorder" name="type" value="<%= options[i].toLowerCase().replace(' ','') %>" onclick="statHandler(this, currentPeriod, -1 )">-1</button>
            </div>
        <% } %>
        
        <div class="statButton">
            <button class="floatingActionButtons floatAbove hidden">+1</button>
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="makekeeper" onclick="statHandler(this, currentPeriod)" >Make Keeper</button>                    
            <button class="floatingActionButtons floatBelow hidden">-1</button>
        </div>
        <div class="statButton">
            <button class="floatingActionButtons floatAbove hidden">+1</button>
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="makecaptain" onclick="statHandler(this, currentPeriod)" >Make Captain</button>                    
            <button class="floatingActionButtons floatBelow hidden">-1</button>
        </div>
        <!-- <div class="statButton">
            <button class="floatingActionButtons floatAbove hidden">+1</button>
            <button class="itemFormat secondaryStyle" name="type" value="switchteam" onclick="statHandler(this)" onmousedown="handleMouseDown(this,event)" onmouseup="handleMouseUp(event)" ontouchstart="handleMouseDown(this,event)">Switch Team</button>                    
            <button class="floatingActionButtons floatBelow hidden">-1</button>
        </div> -->
        <div id="floatingBackground" class="popupBackground hidden" onclick="closeFloating()"></div>
    </form>
</body>
</html>