<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <footer class="footer">
    <img src="GLOSLogo.png" alt="GLOS Logo" height="100%" style="float: right;">
    <form action="logout?_method=DELETE" method="POST" style="float: right;">
      <button type="submit" class="itemFormat secondaryStyle">Log Out</button>
    </form>

    <div class="statButton">
      <form action="/games" method="get" >
        <button type="submit" class="itemFormat secondaryStyle" >Games</button>
      </form>
      
    </div>
    
  </footer>
</html>