<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <footer class="footer">
    <div class="statButton">
      <form action="/games" method="get" >
        <button type="submit" class="itemFormat" >Games</button>
      </form>
    </div>
  </footer>
</html>