<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <footer class="footer">
    
    <div class="triColumn textCenter">
      <!-- <div class="statButton"> -->
        <form action="/games" method="get" class="navButton">
          <button type="submit" class="navButton" >Games</button>
        </form>
      
      <!-- </div> -->
    </div>

    <div class="triColumn textCenter" ><img src="https://glad-pika-totally.ngrok-free.app/GLOSLogo.png" alt="GLOS Logo" id="mainLogo" onclick="toggleForm('managementForm')"></div>
    <div class="triColumn textCenter">
      <% if (data.user == undefined) { %>
        <form action="/login" method="get" class="navButton">
          <button type="submit" class="navButton">Log In</button>
        </form>
      <% } else { %>
        <form action="logout?_method=DELETE" method="POST" class="navButton">
          <button type="submit" class="navButton">Log Out</button>
        </form>
      <% } %>
          
      </div>
    
  </footer>
</html>