<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <footer class="footer">
    
    <div class="triColumn">
      <!-- <div class="statButton"> -->
        <form action="/games" method="get" >
          <button type="submit" class="itemFormat" >Games</button>
        </form>
      
      <!-- </div> -->
    </div>

    <div class="triColumn"><img src="GLOSLogo.png" alt="GLOS Logo" height="100%" ></div>
    <div class="triColumn">
          <form action="logout?_method=DELETE" method="POST">
            <button type="submit" class="itemFormat">Log Out</button>
          </form>
      </div>
    
  </footer>
</html>