
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <form id="gameInfoForm" class="popupForm primaryStyle primaryBorder" action="javascript:void(0);" method="post" style="display: none; text-align: center;">
        <!-- <div class="playerTag itemFormat"> -->
            <input type="hidden" name="Event_ID" value="">
            <div class="textCenter" style="height: 15vh;"><img src="/GLOSLogo.png" alt="GLOS Logo" id="newPlayerLogo"></div>
            <br>
            <div class="playerName">
                Game Info
            </div>
            <br>
            <!-- <label for="team1"></label> -->
            <!-- <select  name="league">
                <option value="MOI" selected>Men's Open</option>
                <option value="OCI">Open Coed</option>
                <option value="SCI" selected>Social Coed</option>
            </select>
            <br> -->
            
            <select name="Team1_ID">
            <option value="1000000024" selected>TBD</option>
            </select>
             vs 
            <select  name="Team2_ID">
                <option value="1000000024" selected>TBD</option>
            </select>
            <br>
            <!-- <label for="team1Forfeit">Forfeit</label>
            <input type="checkbox" name="team1Forfeit">
            <label for="team2Forfeit">Forfeit</label>
            <input type="checkbox" name="team2Forfeit">
            <br> -->

            <label for="scoreKeeper_ID">Scorekeeper</label>
            <select  name="scoreKeeper_ID">
                <option value="TBD" selected>TBD</option>
            </select>
            <br>
            <label for="monitorId">Monitor</label>
            <select  name="monitorId">
                <option value="TBD" selected>TBD</option>
            </select>
            <br>
            <label for="ref1Id">Referee 1</label>
            <select  name="ref1Id">
                <option value="TBD" selected>TBD</option>
            </select>
            <br>
            <label for="ref2Id">Referee 2</label>
            <select  name="ref2Id">
                <option value="TBD" selected>TBD</option>
            </select>
            <br>
            <br>
            <label for="period">Period</label>
            <input name="period" type="number"  min="1" max="4" value="1">
            <br>
            
            <!-- <br>
            <label for="startDate">Date</label>
            <input type="date" name="startDate" value="2024-03-03">
            <label for="startTime">Time:</label>
            <input type="time" name="startTime" value="18:30">
            <br> -->
            <br>
            <label for="gameCancel">Cancel Game</label>
            <input type="checkbox" name="gameCancel">

            <br>
            <!-- <label for="startDate">Date</label>
            <input type="date" name="startDate" value="2024-03-03">
            <label for="startTime">Time:</label>
            <input type="time" name="startTime" value="17:30">
            <br>
            <select  name="court">
                <option value="DJF" selected>Don Johnson Fieldhouse</option>
                <option value="FP">Frances Park</option>
            </select>
            <select  name="court">
                <option value="court1" selected>Court 1</option>
                <option value="court2">court 2</option>
            </select>
            <br>
            <label for="currentTime">Required End Time:</label>
            <input type="time" name="currentTime" pattern="[0-9]{2}:[0-9]{2}" value="18:30">
            <br>
            <label for="maxPeriods">Total Periods:</label>
            <input type="number" name="maxPeriods" min="1" max="4" step="1" value="2">
            <br>
            <label for="currentTime">Time Per Period:</label>
            <input type="time" name="currentTime" pattern="[0-9]{2}:[0-9]{2}">
            <br>
            <label for="currentTime">Time Between Periods:</label>
            <input type="time" name="currentTime" pattern="[0-9]{2}:[0-9]{2}">
            <br> -->
            <br>
            <button type="button" class="primaryStyle primaryBorder" style="font-weight: bold; width: auto; height: 5vh;" onclick="updateGameData(this)">Apply Changes</button>
            <!-- <button type="button" onclick="this.parentElement.style.display = 'none'">Cancel</button> -->
        <!-- </div> -->
    </form>
