<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <header class="header">
    <div id="pageName" class="headerText"> HON vs BSG </div>
    <!-- <button onclick="location.href = '/forms/form'" style="float: right;">Add User</button> -->
  </header>
</html>