<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- <link rel="icon" href="/favicon.png"> -->
    <title>Scorecard</title>
</head>
<body>      
        <%- include('header'); %>
        <div id="innerBody">
            <div id="content">
                <div id="left" class="teamColumn">
                    <%- include('list', {data: teams[0], team: 'left'}); %>
                </div>
                <div id="right" class="teamColumn">
                    <%- include('list', {data: teams[1], team: 'right'}); %>
                </div>
              </div>
            <%# include('list_item'); %>
        </div>
        <%# include('navbar'); %>
        <script src="main.js"></script>
</body>
</html>