<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <div class="dayHeader">
            <div class="playerTag">
                <img src="Soccerball.jpeg" alt="Temp Icon" class="roundcorners playerImage">
                <div class="playerName"><%= name %></div>
            </div>
            <div class="statContainer">
                <button class="statButton">G</button>
                <button class="statButton">A</button>
            </div>
            <%# data[i][listTitle] %>                    
        </div>
    </div>
</body>
</html>