<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <div class="fielderColumn" >
        <% if (data.page == 'games') { %>
            <% for(var i=0; i< data.games.length; i++) {%>
                <%- include('game_item',{game: data.games[i]}); %>
            <% } %>
        <% } else if (data.page == 'activeGame') { %>
            
            <% for(var i=0; i< team.players.length; i++) {%>
                <%- include('player_item',{player: team.players[i], team: team.id, Event_ID: data.Event_ID}); %>
            <% } %>
        <% } %>
    </div>
</body>
</html>