<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <div class="fielderColumn" onscroll="" ontouchmove="console.log('testscroll')">
        <% for(var i=0; i< data.players.length; i++) {%>
            <%- include('player_item',{player: data.players[i], team: data.id}); %>
        <% } %>
    </div>
</body>
</html>