<meta name="viewport" content="maximum-scale=1">
<link rel="stylesheet" href="/styles.css">
<div id="formBackground" style="touch-action: '';"></div>

<form id="newPlayerForm" class="popupForm secondaryStyle" action="login" method="post" style="text-align: center; ">
        <div class="playerName" style="font-size: 350%; margin-top: 1vh; margin-bottom: 1vh;">
            Login
        </div>
        <br>
        <% if (messages.error) { %>
            <%= messages.error %>
           <% } %>
        <br>
        <input type="text" name="email" value="" placeholder="Email" style="margin-bottom: .75vh; font-size: 250%;" required>
        <br>
        <input type="password" name="password" value="" placeholder="Password" style="margin-bottom: 1.25vh; font-size: 250%;" required>
        <br>
        <button type="submit" style="margin-bottom: 1.5vh; font-size: 250%; background-color: black; color: white;">Login</button>
        <br>
        <a href="/register" style="margin-bottom: 1.5vh; font-size: 250%; display: block;">Register</a>
</form>