<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form id="managementForm" class="popupForm" action="javascript:void(0);" style="display: none; touch-action: none;">
        <div class="primaryStyle primaryBorder" style="text-align: center;">
            <div class="playerName" style="font-size: 175%;">
                Management
            </div>
        </div>

        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="Standings" onclick="window.location.href = '/standings';" >Standings</button>                    
        </div>
        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="schedules" onclick="window.location.href = '/schedules';" >Schedules</button>                    
        </div>
        <%# var types = ['team','individual','keeper'] %>
        <%# var leagues = ['MOI','PCI','OCI','SCI'] %>
        <%# for(const type of types) {%>
            <%# for(const league of leagues) {%>
            <!-- <div class="statButton">
                <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="<%#=type%><%#=league%>" onclick="window.location.href = 'https://glad-pika-totally.ngrok-free.app/standings/<%#=type%>/<%#=league%>';" ><%#= `${league} ${type}` %></button>                    
            </div> -->
            <%# } %>
        <%# } %>
        
        <div id="managementBackground" class="popupBackground hidden" onclick="closeFloating()"></div>
    </form>
</body>
</html>