<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form id="managementForm" class="popupForm" action="javascript:void(0);" style="display: none; touch-action: none;">
        <div class="primaryStyle primaryBorder" style="text-align: center;">
            <div class="playerName" style="font-size: 175%;">
                Management
            </div>
        </div>

        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="Standings" onclick="window.location.href = '/standings';" >Standings</button>                    
        </div>
        <!-- <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="schedules" onclick="window.location.href = '/schedules';" >Schedules</button>                    
        </div>
        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="winners" onclick="window.location.href = '/winners';" >Gift Cards</button>                    
        </div> -->
        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="reschedule" onclick="window.location.href = '/rescheduleGames';" >Reschedule Games</button>                    
        </div>
        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="teams" onclick="window.location.href = '/teams';" >Teams</button>                    
        </div>
        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="newUser" onclick="window.location.href = '/newUser';" >New User</button>                    
        </div>
        <div class="statButton" style="width: calc(100%/3);">
            <button style="font-size: 100%;" class="itemFormat primaryStyle primaryBorder" name="type" value="seasons" onclick="window.location.href = '/seasons';" >Seasons</button>                    
        </div>
        
        <div id="managementBackground" class="popupBackground hidden" onclick="closeFloating()"></div>
    </form>
</body>
</html>