<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="navbar">
    <a href="../games" id="navGames">Games</a>
    <a href="../teams"  id="navTeams">Teams</a>
    <a href="../leagues"  id="navLeagues">Leagues</a>
    <a href="../organizations"  id="navOrganizations">Organizations</a>
    <a href="../users"  id="navUsers">Users</a>
  </div>
</html>