
    <form id="newFacilityForm" class="textCenter" action="/facilities/add" method="post" style="display: ''; text-align: center;">
            <input type="text" name="name" value="" placeholder="Facility Name" required>
            <br>
            <br>
            <input type="text" name="address" value="" placeholder="Address" required>
            <br>
            <br>
            <button type="submit" class="primaryStyle primaryBorder" style="font-weight: bold; width: auto; height: 5vh;">Add Facility</button>
    </form>
