<form id="newLeagueForm" action="addLeague" method="post" class="textCenter">
                
    <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" required>
        <!-- <option value="" disabled selected hidden>Season</option> -->
        <!-- <option value="<%# data.season %>" selected><%= data.season %></option> -->
        <% for(var i=0; i< data.seasons.length; i++) {%>
            <% console.log(data.seasons.length) %>
            <option value="<%= data.seasons[i].seasonName%>" <%= data.seasons[i].seasonName== data.season? 'selected' : ''%>><%= data.seasons[i].seasonName%></option>
        <% } %>
        <!-- <option value="Indoor">Indoor</option> -->
    </select>
    
    <br>
    <br>
    <input type="text" name="leagueName" placeholder="Full League Name">
    <br>
    <br>
    <input type="text" name="abbreviation" placeholder="Abbreviation">
    <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Color:
        <br>

        <input type="color" name="color" required>
    </div>
    
    <br>
    <br>
    <br>
    <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">Add Team</button>
</form>