<form id="newLeagueForm" action="/leagues/addLeague" method="post" class="textCenter">                
    <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" required>
        <% for(let i=0; i< data.seasons.length; i++) {%>
            <option value="<%= data.seasons[i].seasonId%>" <%= data.seasons[i].seasonId== data.season.seasonId? 'selected' : ''%>><%= data.seasons[i].seasonName%></option>
        <% } %>
    </select>
        <br><br>
    <input type="text" name="leagueName" placeholder="Full League Name">
        <br><br>
    <input type="text" name="abbreviation" placeholder="Abbreviation">
        <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Color:
            <br>
        <input type="color" name="color" required>
    </div>
        <br><br><br>
    <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">Add Team</button>
</form>