<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <form id="newPlayerForm" class="popupForm secondaryStyle" action="addPlayer" method="post" style="display: none; text-align: center;">
        <!-- <div class="playerTag itemFormat"> -->
            <div class="playerName">
                Add New Player
            </div>
            <input type="text" name="firstName" value="" placeholder="First Name" required>
            <br>
            <input type="text" name="lastName" value="" placeholder="Last Name" required>
            <br>
            <input type="text" name="team" value="Test2" hidden>
            
            Rostered <input type="radio" name="playerType" value="Rostered"> Sub <input type="radio" name="playerType" value="Sub" checked>
            <br>
            <label for="waiver">Signed Waiver</label><input type="checkbox" id="waiver" oninvalid="this.setCustomValidity('Player must sign waiver to play')" required>
            <br>
            <button type="submit">Add Player</button>
            <button type="button" onclick="this.parentElement.style.display = 'none'">Cancel</button>
        <!-- </div> -->
    </form>
</body>
</html>