    <form id="newRosterPlayerForm" class="textCenter" action="addPlayer" method="post" style="display: ''; text-align: center;">
        <button type="button" class="primaryStyle primaryBorder" style="font-weight: bold; width: auto; height: 5vh;" onclick="toggleSearchPlayer()">Search For Existing</button>
            <br>
            <input type="email" name="email" value="" placeholder="Email" required>
            <br>
            <input type="text" name="firstName" value="" placeholder="First Name" required>
            <br>
            <input type="text" name="lastName" value="" placeholder="Last Name" required>
            <br>
            <input type="text" name="preferredName" value="" placeholder="Preferred Name (Optional)">
            <br>
            <input type="text" name="team" value="<%= data.teamId %>" hidden>
            <input type="text" name="season" value="<%= data.seasonId %>" hidden>
            <br>
            <label for="waiver" class="primaryStyle">Signed Waiver</label><input type="checkbox" name="waiver" id="waiver" oninvalid="this.setCustomValidity('Player must sign waiver to play')" onchange="this.setCustomValidity('')" required>
            <br>
            <br>
            <button type="submit" class="primaryStyle primaryBorder" style="font-weight: bold; width: auto; height: 5vh;">Add Player</button>
    </form>
