<form id="newGameForm" action="addGame" method="post" class="textCenter">
                
    <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="getLeagues(this.form)" required>
        <!-- <option value="" disabled selected hidden>Season</option> -->
        <option value="<%= data.season %>" selected><%= data.season %></option>
        <!-- <option value="Indoor">Indoor</option> -->
    </select>
    <select name="leagueId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="" required>
        <option value="" disabled selected>League</option>
        <!-- <script>console.log(document.getElementById('newGameForm').getElementsByName('leagueId')[0])</script> -->
        <% for(var i=0; i< data.leagues.length; i++) {%>
            <option value="<%= data.leagues[i].abbreviation%>"><%= data.leagues[i].shortName%></option>
        <% } %>
    </select>
    <br>
    <br>
    <input type="text" name="teamName" title="Full Team Name">
    <br>
    <br>
    <input type="text" name="abbreviation" title="Abbreviation">
    <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Time:
        <br>

        <input type="time" name="startTime" class="primaryStyle" style="font-size: 100%;" value="15:00" required>

        
    </div>
    <br>
    <select name="court" class="primaryStyle" style="font-size: 100%;" autocomplete="off" required>
        <!-- <option value="" disabled selected hidden>Season</option> -->
        <option value="Court 1" selected>Court 1</option>
        <option value="Court 2" >Court 2</option>
        <!-- <option value="Indoor">Indoor</option> -->
    </select>
    <br>
    <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Number of Periods:
        <br>
        <input type="number" name="maxPeriods" class="primaryStyle" style="font-size: 100%;" value="3" min="2" max="4">
    </div>
    <br>
    <br>
    <br>
    <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">Add Game</button>
</form>