<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <form id="newUserForm" class="textCenter" action="/users/addUser" method="post" style="display: ''; text-align: center;">
        <!-- <div class="playerTag itemFormat"> -->
            <div class="playerName">
                Add New User
            </div>
            <br>
            <input type="email" name="email" value="" placeholder="Email" required>
            <!-- <br> -->
            <br>
            <input type="text" name="firstName" value="" placeholder="First Name" required>
            <!-- <br> -->
            <br>
            <input type="text" name="lastName" value="" placeholder="Last Name" required>
            <!-- <br> -->
            <br>
            <input type="text" name="preferredName" value="" placeholder="Preferred Name (Optional)">
            <br>
            <br>
            <label for="waiver" class="primaryStyle">Signed Waiver</label> <input type="checkbox" name="waiver" id="waiver" oninvalid="this.setCustomValidity('Player must sign waiver to play')" onchange="this.setCustomValidity('')" required>
            <br>
            <br>
            <button type="submit" class="primaryStyle primaryBorder" style="font-weight: bold; width: auto; height: 5vh;">Add User</button>
            <!-- <button type="button" onclick="this.parentElement.style.display = 'none'">Cancel</button> -->
        <!-- </div> -->
    </form>
</body>
</html>