<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/GLOSLogo.png">
    <title>Payment Successful</title>
</head>
<body style="text-align: center;">
    <br>
    <header>
        <h1>Thank You for Your Purchase!</h1>
        
    </header>
<br>
    <main>
        <img src="/GLOSLogo.png" alt="GLOS Logo" id="mainLogo">
        <br><br>
        <h2>Your payment was successful.</h2>
        <p>You will receive an email confirmation shortly.</p>
    </main>
    <br>
    <footer>
        <p>&copy; 2024 GLOS</p>
    </footer>
</body>
</html>
