<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta name="viewport" content="maximum-scale=1">
        <link rel="icon" href="/GLOSLogo.png">
        <title>Reset Password</title>
        <style>
            body {
            font-family: sans-serif;
        }
            .Buttons {
                background-color: #ceff00;
                font-size: 3vh;
                border-width: medium;
                border-color: black;
                font-weight: 500;
                border-style: solid;
                color: black;
                padding: 5px 40px 5px 40px;
            }
            input:focus, textarea:focus, select:focus {
                outline: 2px solid #ceff00; /* Change to your preferred color */
            }
            ::selection {
                background: #ceff00;
                color: #121212;
            }
            body {
                background-image: url('/silverBackground.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
        </style>
    </head>    
        <body>
            <form id="newPlayerForm" class="" action="" method="post" style="text-align: center; ">
                    <div class="playerName" style="font-size: 350%; margin-top: 1vh; margin-bottom: 1vh;">
                        Password Reset
                    </div>
                    <br>
                    <div class="textCenter" style="height: 15vh;"><img src="/GLOSLogo.png" alt="GLOS Logo" id="mainLogo"></div>
                    <br>
                    <% if (messages.error) { %>
                        <%= messages.error %>
                    <% } %>
                    <br>
                    <input type="password" name="password" value="" placeholder="New Password" style="margin-bottom: .75vh; font-size: 250%;" required>
                    <br>
                    <input type="password" name="confirmPassword" value="" placeholder="Re-Enter Password" style="margin-bottom: .75vh; font-size: 250%;" required>
                    <br>
                    <button type="submit" class="Buttons" style="margin-bottom: 1.25vh; font-size: 250%;">Submit</button>
            </form>
        </body>
</html>