<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/siteStyles.css">
    <link rel="icon" href="/home/scott/projects/scorecardApp/public/GLOS-Emblem-Black.png">
    <title>Payment Successful</title>
</head>
<body style="text-align: center; background-image: url('/silverBackground.jpg');">
    <br>
    <header>
        <h1>Thank You for Your Purchase!</h1>
        
    </header>
<br>
    <main>
        <img src="/GLOS-Emblem-Black.png" alt="GLOS Logo" id="mainLogo" style="height: 50vh;">
        <br><br>
        <h2>Your payment was successful.</h2>
        <p>You will receive an email confirmation shortly.</p>
    </main>
    <br>
    <button class="buttonStyle formButton" onclick="window.location.href = '/';">Return To Site</button>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> GLOS</p>
    </footer>
</body>
</html>
