<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    
    <%# include('list_item',{player: data.keeper, type: 'keeper', team: team}); %>
    <form id="teamForm" class="popupForm primaryStyle primaryBorder" action="" method="post" style="display: none; text-align: center;">
        <input type="text" name="team" value="" hidden>
        <input type="text" name="season" value="" hidden>
        <input type="text" name="eventId" value="" hidden>
            <div class="playerName">
                Team
            </div>
            <br>
            <div class="textCenter" style="height: 15vh;"><img src="/GLOSLogo.png" alt="GLOS Logo" class="formLogo"></div>
            <br>
            <br>
            <button class="primaryBorder" style="border: thin;" type="button" onclick="toggleAddPlayer(this.form)">Add New Player/Sub</button>
            <br>
            <br>
        <div id="teamFormBackground" class="popupBackground hidden" onclick="closeFloating()"></div>
    </form>
</body>
</html>