
    <form class="listItem" action="roles/<%= data.teamId%>" method="get">
        <button class="playerButton" style="height: 100%;">
            <div class="itemFormat primaryStyle" style="height: 100%; border-style:solid; border-width: thick;">
                <div style="width: 100%;">
                    <div class="playerName" style="text-align: center;">
                        <%= data.fullName %>
                    </div>
                </div>
            </div>
        </button>
    </form>
