<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>    
        <div class="itemFormat secondaryStyle">
            <div class="playerTag">
                <div class="playerName">
                    <%= user.firstName %>
                    <%= user.lastName %>
                </div>
            </div>                    
        </div>
</body>
</html>