:root {
  /* --primeColor: #009688; */
  --primeColor: #000000;
  --primaryFontColor: #cccccc;
  --secondaryColor: #cccccc;
  --secondaryFontColor: #000000;
  --shinySilver: linear-gradient(135deg, #919191 10%, white 50%, #919191 90%);
  --scrollWidth: 15px;
  --buttonHieght: 11vh
}
* {
  box-sizing: border-box;
}
html {
  margin: 0%;
  height: 100%;
}
body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  .headerText {
    font-size: 5vh;
    font-weight: bold;
    width: auto;
    border: none;
    outline: 0;
    text-align: center;
  }
  .header {
    color: var(--primaryFontColor) !important;
    background-color: var(--primeColor) !important;
    top: 0;
    height: 13%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    display: block;
  }
  .footer {
    color: var(--primaryFontColor) !important;
    background-color: var(--primeColor) !important;
    top: 0;
    height: 10%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    display: block;
  }
  #innerBody {
    height: 77%;
    width: 100%;
    /* background: var(--shinySilver); */
    background-image: linear-gradient(135deg, #919191 25%, white 50%, #919191 75%);;
  }
  .itemFormat {
    background-color: var(--secondaryColor);
    background-image: var(--shinySilver);
    color: var(--secondaryFontColor);
    border-radius: 2vh;
    height: 11vh;
    width: 100%;
    border: var(--primeColor);
    border-width: thin;
    border-style: solid;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

.roundcorners {
  border-radius: 10px;
}

.teamColumn {
  float: left;
  width: 50%;
  height: 100%;
}
.doubleColumn {
  float: left;
  width: 50%;
  height: 100%;
}
.singleColumn {
  float: left;
  width: 100%;
  height: 100%;
}
.fielderColumn {
  width: 100%;
  height: 100%;
  overflow: scroll;
  touch-action: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.fielderColumn::-webkit-scrollbar {
  display: none;
}
.statButton{
  all: unset;
  float: left;
  border-radius: 50%;
  font-size: 100%;
  /* height: 100%; */
  width: 25%;
  text-align: center;
}
.playerButton{
  all: unset;
  width: 100%;
  padding-bottom: .5vh;
}
.statItem{
  float: left;
  font-size: 100%;
  height: 100%;
  width: calc(100%/2);
  text-align: center;
}
.gameInfo{
  float: left;
  font-size: 100%;
  height: 100%;
  width: calc(100%/3);
  text-align: center;
}
.statLabel{
  float: left;
  background-color: var(--secondaryColor);
  font-size: 100%;
  height: calc(100%/3);
  width: 100%;
}
.plusMinusButton{
  all: unset;
  float: left;
  background-color:var(--secondaryColor);
  font-size: 100%;
  height: calc(100%/3);
  width: 100%;
}
.plusMinusLabel{
  background-color: var(--secondaryColor);
  font-size: 100%;
  height: 100%;
  width: 100%;
}
.statContainer{
  display : flex;
  align-items : center;
  height: 30%;
}
.playerTag{
  height: 70%;
  width: 100%;
  vertical-align: top;
  text-align: center;
}
.playerName{
  margin:0% auto 0% auto;
  display: table;
  font-size: 150%;
  vertical-align: middle;
}
.playerImage{
  width: auto;
  height: 70%;
  margin: auto;
  display: table;
}

#content{
  height: 100%;
}

@keyframes pointerEvent {
  100% {
    pointer-events: auto;
 }
}
#eventForm{
  /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 10vh;
    z-index: 6; */
}
#newPlayerForm{
  /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 10vh;
    z-index: 6; */
    /* height: auto; */
}
.popupForm{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 23vh;
    z-index: 6;
}
#formBackground{
  width:100%;
  height:100%;
  left:0;/*IE*/
  top:0;
  text-align:center;
  z-index:5;
  position:fixed;
  background-color:#000000;
  opacity: 60%;
}